.text_ar {
    width: 800px;
    height: 500px;
    min-width: 800px;
    max-width: 800px;
    max-height: 500px;
    min-height: 500px;
    border-radius: 10px;
    text-align: center;
}

.text_ar2 {
    width: 800px;
    min-width: 800px;
    max-width: 800px;
    width: 300px;
    max-height: 50px;
    min-height: 50px;
    border-radius: 10px;
    text-align: center;
}

.text_ar3 {
    width: 800px;
    height: 400px;
    text-align: center;
    max-width: 800px;
    max-height: 800px;
    min-height: 800px;
    min-width: 800px;
    border-radius: 10px;
}

.addMenu h3 {
    margin-left: 2vh;
}

.addMenuConteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vh;
    margin-top: 5vh;
}

.upload,.post {
    background-color: yellow;
    width: 815px;
    text-align: center;
    height: 50px;
    align-items: center;
    font-size: 20px;
    color: white;
    border-radius: 15px;
}

.post,.upload {
    padding-top: 1vh;
    height: 40px;
    width: 810px;
    border-radius: 15px;
}

.post {
    margin-bottom: 1vh;
    color: red;
    cursor: pointer;
}


@media screen and (max-width:768px) { 

    

    .inp {
        margin-left: 8vh;
    }

    .addMenu {
        text-align: center;
    }

    .upload {
        width: 200px;
    }

    .title  {
        display: flex;
        justify-content: center;
        max-width: 50px;
        min-width: 50px;
        min-height: 50px;
        max-height: 50px;
    }

    .txt1 {
        width: 100px;
        max-width: 100px;
    }

   
}


