.inp1 {
    width: 200px;
    height: 40px;
    border-radius: 15px;
    border: 1px solid yellow;
    outline: none;
    border: none;
    padding-left: 2vh;
}


.img1 {
    width: 35px;
}




.search_right {
    
        background-color: yellow;
        border-radius: 12px;
}

.img2,.img3,.img4 {
    width: 550px
}

.components {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    margin-top: 20vh;
}

.component_1 {
    display: flex;
    justify-content: space-between;
    gap: 15vh;
}

.component_2 {
    margin-top: 10vh;
    margin-left: 1vh;
}


hr {
    border: 2px solid yellow;
}

.component_2 h3 {
    margin-left: 2vh;
}

.sections {
   margin-top: 5vh;
    display: flex;
    gap: 30vh;
    justify-content: center;
    align-items: center;
}


.explore_box {
    border: 4px solid yellow;
    width: 100px;
    padding: 1vh;
    border-radius: 15px;

}

.explore_box:hover {
     background-color: yellow;
      transition: 1s ease-in;
}

.explore_box a:hover {
   
    transition: 0.5s ease-in;
    cursor: pointer;
    color: white;
}

.explore_box a {
    text-decoration: none;
    color: yellow;
}


.exploreMore {
    border: 4px solid yellow;
    width: 100px;
    padding: 1vh;
    border-radius: 15px;

}

.exploreMore:hover {
     background-color: yellow;
      transition: 1s ease-in;
}

.exploreMore a:hover {
   
    transition: 0.5s ease-in;
    cursor: pointer;
    color: white;
}

.exploreMore a {
    text-decoration: none;
    color: yellow;
}



@media screen and (max-width:768px) {


 
.sec_left h1 {
    font-size: 18px;
}

.explore_box {
    width: 100px;
    height: 20px;
    font-size: 15px;
    border: 1px solid yellow;
    text-align: center;
    
}

.sec_right .img2,.sec_left .img3 {
    width: 220px;
}



.component_1,.component_2 {
    justify-content: center;
    gap: 2vh;
    align-items: center;
}

.component_2 h3 {
    display: none;
}

.sec_right2  {
    font-size: 12px;
    visibility: hidden;
}





.sections {
    text-align: center;
    justify-content: center;
    gap: 1vh;
}






}




