.inp1 {
    width: 200px;
    height: 40px;
    border-radius: 15px;
    border: 1px solid yellow;
    outline: none;
    border: none;
    padding-left: 2vh;
}

.search_box {
    display: flex;
    width: 300px;
    height: 40px;
    align-items: center;
    padding-right: 2vh;
    justify-content: space-around;
    width: 300px;
    border: 2px solid yellow;
    border-radius: 15px;
    
}

.img1 {
    width: 35px;
}

.search_right {
    
        background-color: yellow;
        border-radius: 12px;
}

.img2,.img3,.img4 {
    width: 550px
}

.components {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    margin-top: 20vh;
}

.component_1 {
    display: flex;
    justify-content: space-between;
    gap: 15vh;
}

.component_2 {
    margin-top: 10vh;
    margin-left: 1vh;
}

hr {
    border: 2px solid yellow;
}

.component_2 h3 {
    margin-left: 2vh;
}

.sections {
   margin-top: 5vh;
    display: flex;
    gap: 30vh;
    justify-content: center;
    align-items: center;
}


.exploreMore {
    border: 4px solid yellow;
    width: 100px;
    padding: 1vh;
    border-radius: 15px;

}

.exploreMore:hover {
     background-color: yellow;
      transition: 1s ease-in;
}

.exploreMore a:hover {
   
    transition: 0.5s ease-in;
    cursor: pointer;
    color: white;
}

.exploreMore a {
    text-decoration: none;
    color: yellow;
}






