.rec_section,.rec_section2 {
    display: flex;
    justify-content: space-around;
}

.rec_section ul,.rec_section2 ul {
    display: flex;
    text-align: center;
    gap: 15vh;
}

.img {
    width: 150px;
}

.head_sec h3, .head_sec2 h3 {
    margin-left: 2vh;
    margin-top: 10vh;
}

.rec_section, .rec_section2 {
    margin-top: 5vh;
}