.rec_section,.rec_section2 {
    display: flex;
    justify-content: space-around;
}

.rec_section ul,.rec_section2 ul {
    display: flex;
    text-align: center;
    gap: 15vh;
}

.img {
    width: 150px;
}