nav  {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #EFC81A;
}

.nav_left ul {
    display: flex;
    justify-content: space-between;
    gap: 5vh;
    align-items: center;
}




ul li, ul li a  {
  text-decoration: none;
  list-style: none;
  color: black;
}

.home {
    background-color: white;
    padding: 5px;

}


.searchMenu:hover {
    background-color: white;
    padding: 5px;
    
    transition: 1s ease;
    color: yellow;
}

.addMenu:hover,.category:hover {
    background-color: white;
    padding: 5px;
       transition: 1s ease;

}

.addMenu a:hover,.category a:hover {
    color: #EFC81A;
    transition: 1s ease;

}




.home  a {
        color: #EFC81A;
}



.user_right {
    display: flex;
    gap: 2vh;
}

@media screen and (max-width:768px) {
    body {
        overflow: hidden;
    }
    nav {
        width: 100%;
        align-items: center;
        justify-content: space-around;
    }

    .nav_left ul {
        justify-content: space-between;
        font-size: 11px;
        gap: 2vh;

    }

    .user_right {
        gap: 1vh;
        margin-left: 1vh;
        justify-content: right;
    }

    .user_right h5 {
        display: none;
    }


}